.image {
  width: 350px ;
  height: 280px;
  /* object-fit: contain; */
}
.main {
/* display: flex; */
 display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;

}

.detail {
 width: 350px ;
  height: 280px;
}